.countTodoContainer{
    width: 500px;
   border:2px solid;
   padding:0.5rem;
   background-color: whitesmoke;
}
.count{
    /* border: 1px solid gray; */
    display: flex;
    justify-content: center;
    background-color: white;
}
.count button{
    margin: 0 1rem ;
}
.todoInput{
    margin: 1rem auto;
 
        padding: 0.5rem;
        background-color: white;
   width: fit-content;
}
.todoInput button{
    margin-left: 1rem;
}
.todoList{
    width: 80%;
    margin:1rem auto;
   
}
.todoItem{
    display: flex;
    justify-content: space-evenly;
}